<header style="color:teal; font-weight: bold; font-size:large; display:flex; justify-content: center;">DASHBOARD: View-Post-Update-Delete your posts</header>

{{#if isLoggedIn}}
<a id="post_trigger" class="waves-effect waves-light btn modal-trigger" href="#modal1">CREATE NEW POST</a>
<div id="modal1" class="modal">
    <div class="modal-content"></div>
    <h4>NEW POST</h4>
    <form action="/posts/create-post" method="post">
        <input id="enter_title" type="text" name="title" placeholder="TITLE OF YOUR BLOG POST">
        <input id="enter_content" type="text" name="content" placeholder="BODY OF YOUR BLOG POST"></input>
        <button id="post_btn" href="/dashboard" class="waves-effect waves-light btn-large right">POST</button>
    </form>
</div>
{{/if}}

{{#each posts as |post|}}

<div>
    <div class="card">
        <div class="card-content hoverable modal-trigger" href="#modal{{post.id}}">
            <h5>{{post.title}} </h5>
            <p>{{post.content}} </p>
            <p>created by:{{post.user.username}} </p>
        </div>
        <div id="modal{{post.id}}" class="modal">
            <div class="modal-content"></div>
            <h4>Edit Post</h4>
            <form action="/posts/update-post/{{post.id}}" method="post">
                <input id="enter_title" type="text" name="title" value="{{post.title}}" placeholder="Title">
                <input id="enter_content" type="text" name="content" value="{{post.content}}" placeholder="Body">
                <button id="post_btn" href="/dashboard" class="waves-effect waves-light btn-large left">Save Changes</button>
            </form>
            <button onclick="deletePost({{post.id}})" class="waves-effect waves-light btn-large right">Delete</button>
        </div>
    </div>

    {{else}}
    <h6 class="pb-4 has-text-centered is-italic">You currently have no posts</h6>
    {{/each}}
