{{#each posts as |post|}}


<div>
    <div class="card">
        <div class= "card-content">
            <h5>{{post.title}} </h5>
        {{!-- <p>{{post.content}} </p> --}}
        <p>created by: {{post.user.username}} at: {{post.date_created}}</p>
        </div>
        {{!-- <div class="card-action2 right-align">
            <form action="/user/{{id}}?_method=DELETE" method="POST">
                <button type="submit" class="btn-floating btn waves-effect waves-light red">
                    <i class="material-icons">delete</i>
                </button>
            </form>
        </div> --}}
</div>



{{else}}
<h6 class="pb-4 has-text-centered is-italic">there are currently no posts from this</h6>
{{/each}}